@model User
@{
    ViewData["Title"] = "CallBack";
}

<h1>Instagram Api --->> Call Back</h1>


<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h1>
                Welcome .....<asp:Label ID="" runat="server" Text=""></asp:Label>
            </h1>
            <br />
            <br />
            <asp:Image ID="" runat="server" />
        </div>
    </form>
</body>
</html>

