<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="client_id" value="14ac34ba09dc4de1b6d571a9e54fa19f"></add>
    <add key="client_secret" value="cfb2a0713089418498944b27c6e1d4cb"></add>
    <add key="localhost" value="https://localhost:44336"></add>
    <add key="localhost2" value="http://localhost:4200"></add>
    <add key="redirect_uri" value="https://localhost:44336/CallBack/CallBack"></add>
    <add key="client_id" value="14ac34ba09dc4de1b6d571a9e54fa19f"></add>
    <add key="instagram_token" value="https://api.instagram.com/oauth/access_token"/>
    <add key="instagram_auth" value="https://www.instagram.com/oauth/authorize/?client_id="/>
    <add key="instagram_owner" value="https://api.instagram.com/v1/users/self/?access_token="/>
    <add key="instagram_media" value="https://api.instagram.com/v1/users/self/media/recent/?access_token="/>
  </appSettings>
</configuration>